bin/

obj/
*.suo

# Ignore NuGet Packages
*.nupkg
# Ignore the packages folder
**/packages/*
# except build/, which is used as an MSBuild target.
!**/packages/build/
# Uncomment if necessary however generally it will be regenerated when needed
#!**/packages/repositories.config

# Ignore test results

TestResults/

# Ignore this files
nutrition.txt
tokens.txt