<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DaysCount" value="14" />
    <add key="TokensFilePath" value="C:\Projects\FitbitApp\tokens.txt" />
    <add key="NotesFilePath" value="C:\Dropbox\nutrition.txt" />
    <add key="StorageConnectionString" value="connectionstringhere" />
    <add key="RedirectUrl" value="https://baseurlhere" />
    <add key="Base64EncodedCredentials" value="encodedcredentialshere" />
    <add key="AuthorizationCode" value="authorizationcodehere" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>